emp-api/src/main/mule/implementations/fetch-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="get:\fetch-employee:emp-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="00ad82fe-e18f-479e-9792-6548ac7843aa" message='#["fetch employee started"]'/>
		<ee:transform
			xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  empID: 1,
  empName: "Rishabh",
  empAddress: "India",
  empJob: "Integration Engineer"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>
